# Global gitignore to remove system & editor files from version control

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac
.DS_Store

# Windows
Thumbs.db

# WebStorm
.idea/

# vi
*~

# General
log/
*.log

# node_modules
node_modules/

# next.js build output
.next
